.logo-results{
    font-size: 4rem !important;
}
.github{
    font-size: 3rem;
}
.search{
    font-size: 1.5rem;
    padding-top: 0.5rem;
    padding-left: 0.3rem;
}
.logo-text{
    text-align: left;
}
.header-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2rem;
}
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.back{
    font-size: 1.5rem;
    margin-top: auto;
}
.back:hover, .header-logo:hover{
    cursor: pointer;
}
.profile-pic{
    height: 150px;
    width: 150px;
    object-fit: contain;
    border: 4px solid #2a1683;
    border-radius: 50%;
}
i{
    margin-right: 0.3rem;
    color: var(--accent);
}
.det-div{
    display: flex;
}
.det-div small{
    margin-right: 0.5rem;
    color:orangered;
}
.username{
    font-style: italic;
    font-size: 20px;
}
.name{
    color: var(--accent);
}
.user{
    width: 65%;
    height: min-content;
    display: flex;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
}
.user>div{
    height: inherit !important;

}
h2,h3{
    color: var(--accent);
}
.project-meta{
    display: flex;
    justify-content: space-around;
    margin-bottom: 0;
    font-size: 15px;
    font-style: normal;
   
    
}
.project{
    box-shadow: -8px 13px 33px 15px rgba(0,0,0,0.75);
-webkit-box-shadow: -8px 13px 33px 15px rgba(0,0,0,0.75);
-moz-box-shadow: -8px 13px 33px 15px rgba(0,0,0,0.75);    
    /* background-color: #1f1f1f;*/
    /* background-color: orangered; */
    color: #2a1683;
    border:1px solid black;   
    width: 30%; 
    min-width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    -webkit-animation: slide-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.tarik {
    color: #2a1683;
}
.projects-container{
    display: flex;
    justify-content: center;
    font-weight: 700;
}
.repos{
    font-weight: 700;
    font-size: 2.5rem;
    color: #2a1683 !important;
    /* color: lightgray !important; */
}

.load{
    position: absolute !important;
    top: 0;
    left: 0;
    background-color: orangered;
    /* background-color: #1f1f1f; */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.load i{
    font-size: 3rem;
}
.updated{
    color: orangered;
    font-size: 1rem;
}
